<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html;charset=utf-8">
    <meta name="keywords" content="涂鸦,涂鸦科技,涂鸦智能,智能家居,智能化,智能硬件,物联网,IoT,智能,led灯,解决方案,取暖器,空气净化器,净水器,插座,开关">
    <meta name="description" content="涂鸦智能是专注于以智能云平台为核心，为消费者与厂商提供智能软硬件产品方案的服务商。基于涂鸦智能，可以快速低成本实现硬件产品智能化。">
    <title>涂鸦智能 - 全球化&amp;一站式智能硬件服务商</title>
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon_tuya.ico">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
    <!--header start-->
    <header class="header">
        <div class="header-wrapper container">
            <a href="#" class="header-logo"><img src="images/tuya_logo@1x.png" alt=""></a>
            <ul class="header-ul">
                <li class="header-li-active "><a href="#" class="header-link header-link-active">首页</a></li>
                <li class="header-li "><a href="#" class="header-link">产品与服务</a></li>
                <li class="header-li "><a href="#" class="header-link">平台优势</a></li>
                <li class="header-li "><a href="#" class="header-link">涂鸦动态</a></li>
                <li class="header-li "><a href="#" class="header-link">合作伙伴</a></li>
            </ul>
            <div class="header-sign">
                <a href="#"  class="header-sign-up">注册登录</a>
            </div>
            <div class="menu" id="menu">
                <a href="#" class="menu-slide"></a>
            </div>
            <div class="header-dropdown">
                <ul id="dropdown">
                    <li class="subNav">
                        <div class="subNav-wrapper"><a href="#" class="link-active" >首页</a></div>
                    </li>
                    <li class="subNav">
                        <div class="subNav-wrapper"><a href="#" >产品与服务</a></div>
                    </li>
                    <li class="subNav">
                        <div class="subNav-wrapper"><a href="#" >平台优势</a></div>
                    </li>
                    <li class="subNav">
                        <div class="subNav-wrapper"><a href="#" >涂鸦动态</a></div>
                    </li>
                    <li class="subNav">
                        <div class="subNav-wrapper"><a href="#" >合作伙伴</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!--header end-->

    <!--section_1 start-->
        <div class="section_1">
           <div class="section_1_pc">
               <p class="section_1_title">涂鸦智能</p>
               <p class="section_1_content">全球化&一站式智能硬件服务商</p>
               <div class="section_1_infos">
                   <div class="section_1_info">
                       <span class="section_1_info_big">超低</span>
                       <span class="section_1_info_medium">投入成本</span>
                       <span class="section_1_info_small">按设备使用数付费</span>
                   </div>
                   <div class="section_1_info">
                       <span class="section_1_info_big">超短</span>
                       <span class="section_1_info_medium">接入周期</span>
                       <span class="section_1_info_small">6 小时快速 Demo</span>
                   </div>
                   <div class="section_1_info">
                       <span class="section_1_info_big">服务</span>
                       <span class="section_1_info_medium">全球客户</span>
                       <span class="section_1_info_small">覆盖亚太、美洲、欧洲等</span>
                   </div>
               </div>
           </div>
            <div class="section_1_m ">
                <p class="section_1_tit">涂鸦智能</p>
                <p class="section_1_tit">一站式</p>
                <p class="section_1_tit">智能家具方案服务商</p>
                <p class="section_1_txt">超低投入成本</p>
                <p class="section_1_txt">超短接入周期 </p>
                <p class="section_1_txt">服务部署的智能云</p>
            </div>
            <div class="section_1_btn">
                <a href="#" class="section_1_btn_link">了解更多</a>
                <a href="#" class="section_1_btn_link">立即咨询</a>
            </div>
        </div>
    <!--section_1 end-->

    <!--section_2 start-->
        <div class="section_2">
            <div class="container">
                <div class="line">
                    <p class="section_2_title">他们选择了涂鸦</p>
                </div>
                <div class="more"><a href="#"> 更多典型客户</a></div>
                <div class="list-partner"></div>
            </div>
        </div>
    <!--section_2 end-->

    <!--section_3 start-->
    <div class="section_3">
        <div class="container">
            <div class="line">
                <p class="section_3_title">丰富的产品与服务</p>
            </div>
            <div class="more"><a href="#">查看更多详情</a></div>
            <div class="section_3_swiper">
                <div class="section_3_swiper_warpper">
                    <div class="section_3_slides">

                    </div>
                </div>
                <a class="swiper_prev"><img src="images/home_zuojiantou@1x.png" alt=""></a>
                <a class="swiper_next"><img src="images/home_youjiantou@1x.png" alt=""></a>
            </div>
        </div>
    </div>
    <!--section_3 end-->

    <!--section_4 start-->
    <div class="section_4">
        <div class="container">
            <div class="line">
                <p class="section_4_title">完整的硬件智能化交钥匙解决方案</p>
            </div>
            <div class="map-wrapper">
                <div class="list-item">
                    <div class="item">
                        <img src="images/home_tuya_cloud@1x.png" alt="">
                        <div class="item-content">
                            <p class="item-name">全球部署的智能云</p>
                            <p class="item-txt">覆盖亚太、北/南美、欧洲</p>
                            <p class="item-txt">支持千万用户并发，可靠性</p>
                            <p class="item-txt">99.99%</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="images/home_app@1x.png" alt="">
                        <div class="item-content">
                            <p class="item-name">全球部署的智能云</p>
                            <p class="item-txt">覆盖亚太、北/南美、欧洲</p>
                            <p class="item-txt">支持千万用户并发，可靠性</p>
                            <p class="item-txt">99.99%</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="images/home_modle@1x.png" alt="">
                        <div class="item-content">
                            <p class="item-name">全球部署的智能云</p>
                            <p class="item-txt">覆盖亚太、北/南美、欧洲</p>
                            <p class="item-txt">支持千万用户并发，可靠性</p>
                            <p class="item-txt">99.99%</p>
                        </div>
                    </div>
                </div>
                <img src="images/home_global@1x.png" alt="">
            </div>
        </div>
    </div>
    <!--<div class="solution">
        <div class="solution-title">完整的硬件智能化解决方案</div>

    </div>-->
    <!--section_4 end-->

    <!--section_5 start-->
    <div class="section_5">
        <div class="container">
            <div class="line">
                <p class="section_5_title">合作伙伴</p>
                <p class="section_5_content">
                    <span>已有</span><span class="section_5-color"> 200+ </span>
                    <span>伙伴选择涂鸦智能，用户超过 100 万</span>
                </p>
            </div>
            <div class="more"><a href="#">查看更多详情</a></div>
            <div class="item-list clearfix" >

            </div>
        </div>
    </div>
    <!--section_5 end-->

    <!--section_6 start-->
    <div class="section_6">
        <img src="images/home_section6@1x.jpg" alt="">
        <div class="container">
            <p class="section_6_title">伙伴们的涂鸦印象</p>
            <div class="swiper-container">
                <div class="section_6-lists clearfix">

                </div>
                <div class="list-pointer">
                    <span class="pointer"></span>
                    <span class="pointer now"></span>
                    <span class="pointer"></span>
                </div>
            </div>
        </div>
    </div>
    <!--section_6 end-->

    <!--news start-->
        <div class="news clearfix">
            <div class="container">
                <div class="news-title">涂鸦动态 <a class="news-title-link">更多></a></div>
                <ul class="news-list">
                    <li><a href="#">· 涂鸦智能：4年后每家平均配14件智能设备</a></li>
                    <li><a href="#">· 安信可涂鸦智能“TA+”战略签约揭全球IoT开发新纪元</a></li>
                    <li><a href="#">· 乐鑫携手涂鸦智能，智能硬件出海四大洲</a></li>
                    <li><a href="#">· 涂鸦智能全球战略铺展，智能空调落地北非</a></li>
                    <li><a href="#">· 涂鸦智能化方案2.3闪耀2016光亚展</a></li>
                    <li><a href="#">· 涂鸦智能：以专业分工加速智能照明普及</a></li>
                </ul>
                <div class="news-img-list ">
                    <img id="image_show" src="images/home_news1@1x.png" alt="" width="380px" />
                    <ul>
                        <li><a href="images/home_news1@1x.png"><img src="images/home_news2@1x.jpg" alt=""></a></li>
                        <li><a href="images/big-2.png"><img src="images/home_news3@1x.jpg" alt=""></a></li>
                        <li><a href="images/big-3.png"><img src="images/home_news4@1x.jpg" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
    <!--news end-->

    <!--section_7 start-->
    <div class="section_7">
        <div class="container">
            <div class="section_7-wrapper">
                <a href="#" class="section_7-sign">立即加入</a>
                <a href="#" class="section_7-qq">咨询 QQ 客服</a>
                <p class="section_7-txt">400-159-4688</p>
            </div>
        </div>
    </div>
    <!--section_7 end-->

    <!--footer start-->
        <div class="footer">
            <div class="container">
                <div class="footer-container clearfix">
                    <div class="footer-wrap ">
                        <dl class="footer-product">
                            <dt class="footer-title">关于我们</dt>
                            <dd ><a href="#" class="footer-link">关于公司</a></dd>
                            <dd ><a href="#" class="footer-link">合作流程</a></dd>
                            <dd ><a href="#" class="footer-link">技术支持</a></dd>
                            <dd ><a href="#" class="footer-link">涂鸦动态</a></dd>
                        </dl>
                        <dl class="footer-product">
                            <dt class="footer-title">旗下产品</dt>
                            <dd ><a href="#" class="footer-link">爱相机</a></dd>
                            <dd ><a href="#" class="footer-link">Wi-Fi SD卡</a></dd>
                            <dd ><a href="#" class="footer-link">涂鸦智能</a></dd>
                            <dd ><a href="#" class="footer-link">爱相机</a></dd>
                        </dl>
                        <dl class="footer-product">
                            <dt class="footer-title">联系我们</dt>
                            <dd ><a href="#" class="footer-link">杭州涂鸦科技有限公司</a></dd>
                            <dd ><a href="#" class="footer-link">联系电话: 400-159-4688</a></dd>
                            <dd ><a href="#" class="footer-link">电子邮箱: BD@tuya.com</a></dd>
                            <dd ><a href="#" class="footer-link">QQ 客服: 3381767623</a></dd>
                        </dl>
                    </div>
                    <div class="footer-follow">
                        <p class="footer-title">关注我们</p>
                        <img src="images/qrcode@2x.png" alt="">
                        <p class="footer-gch">公众号：涂鸦智能</p>
                    </div>
                </div>
                <div class="copyright">
                    <span class="copyright-txt">
                        © 2014-2016 杭州涂鸦科技有限公司 版权所有   浙ICP备14011795号
                    </span>
                    <a href="#"><img src="images/net_police@1x.png" alt=""></a>
                </div>
            </div>
        </div>
    <!--footer end-->
</body>
<script src="lib/jquery-1.7.1.js"></script>
<script src="lib/template-native.js"></script>
<script src="js/index.js"></script>
<script src="lib/zepto/zepto.min.js"></script>
<script src="lib/zepto/selector.js"></script>
<script src="lib/zepto/touch.js"></script>
<script type="text/template" id="tempSlide">
    <% for(var i=0; i< list.length ;i++ ) { %>
        <div class="section_3_slide">
          <% for( var j=0 ; j< list[i].info.length ; j++){%>
            <a href="#" class="item">
                <p class="item-name"><%=list[i].info[j].name%></p>
                <img src="<%=list[i].info[j].img%>" alt="" class="item-img">
            </a>
            <% }%>
        </div>
    <% }%>
</script>
<script type="text/template" id="tempPartner">
    <% for(var i=0; i< list.length ;i++ ) { %>
        <div class="section_6-list">
            <div class="section_6-list-info">
                <img src="<%=list[i]['img']%>" alt="">
                <p class="section_6-list-name"><%=list[i]['name']%></p>
                <p class="section_6-list-company"><%=list[i]['company']%></p>
            </div>
            <div class="section_6-list-txt">
                <%=list[i]['txt']%>
            </div>
        </div>
    <% }%>
</script>
</html>